---

import Layout from "../layouts/Primary.astro";

export type Props = {
    error: unknown;
}

const { error } = Astro.props;

---

<Layout title="Internal Server Error">
    <h2 class="h2">Internal Server Error</h2>
    <p class="text">Something went wrong. Please try again later.</p>
    <p class="error">{error}</p>
    <div class="flex v-center gap-200">
        <button class="button" onclick="history.back()">Go Back</button>
        <button class="button" onclick="location.reload()">Try Again</button>
    </div>
</Layout>

<style>
    h2 {
        margin-block: 20px 0;
        font-size: 55px;
    }
    .text {
        margin-block: 10px 5px;
        font-size: 20px;
        color: var(--wxp-clr-text-100);
    }
    .error {
        background: var(--wxp-clr-dark-900);
        border-radius: 5px;
        margin-block: 5px 15px;
        padding: 3px 4px;
        width: fit-content;
        color: var(--wxp-clr-text-100);
        font-family: var(--wxp-ff-mono);
        font-size: 14px;
    }
</style>