---

import Layout from "../layouts/Primary.astro";

---

<Layout title="Home">
	<p class="h3">Welcome to WebX+ Domains!</p>
	<p>Here you can register and manage your WebX+ domains.</p>
	<p>WebX+ Domains is the official first party registrar for WebX+ DNS</p>
	<br>
	<h2 class="h2">Using WebX+</h2>
	<p>To use webX+ you need a WebX browser that supports custom DNS. We recommend <a href="https://github.com/codingMASTER398/bussinga" target="_blank">Bussinga</a>.</p>
	<p>Open the settings for your browser and find the option to input custom DNS. Then enter one of the following DNS URLs, we provide 2 identical versions of our DNS to improve reliablity</p>
	<ul>
		<li><code>https://dns-one.webxplus.org/resolve</code></li>
		<li><code>https://dns-two.webxplus.org/resolve</code></li>
	</ul>
	<p>Then save your settings. You may need to clear your DNS cache or restart your browser as well</p>
	<p>You can now access WebX+ domains, such as search.frontdoor, our search engine for both WebX and WebX+ domains</p>
</Layout>