---

import Header from "./Header.astro";
import Footer from "./Footer.astro";

export type Props = {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<!-- SEO and that -->
		<meta name="author" content="WebX+ Domains">
		<meta name="title" content={title + " - WebX+ Domains"}>
		<meta name="description" content="Register & manager your WebX+ domains">
		<meta name="keywords" content="WebX+ Domains">
		<meta name="robots" content="index, follow">
		<meta name="language" content="English">

		<!-- Open Graph / Facebook -->
		<meta property="og:locale" content="en_UK">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="WebX+ Domains">
		<meta property="og:title" content={title + " - WebX+ Domains"}>
		<meta property="og:description" content="Register & manager your WebX+ domains">
		<meta property="og:image" content="/assets/favicon.png">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary">
		<meta property="twitter:title" content={title + " - WebX+ Domains"}>
		<meta property="twitter:description" content="Register & manager your WebX+ domains">
		<meta property="twitter:image" content="/assets/favicon.png">

		<link rel="shortcut icon" href="/assets/favicon.png">
		<link rel="stylesheet" href="/global.css">

		<!-- Something something EU consent -->
		<script type="text/javascript" src="https://app.termly.io/resource-blocker/aa0cd10c-b4ad-4c04-91ce-3155e3efa6c7"></script>

		<script defer data-domain="webxplus.org" src="https://plausible.lifn.me/js/script.outbound-links.pageview-props.tagged-events.js"></script>
		<script>
			/*@ts-ignore */
			window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }
		</script>

		<meta name="generator" content={Astro.generator} />
		<title>{title} - WebX+ Domains</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<script>
	window.addEventListener("click", e => {
		const target = e.target as HTMLElement;
		const dropdown = target.closest(".dropdown");
		for (let x of Array.from(document.querySelectorAll(".dropdown"))) {
			if (dropdown && dropdown.id == x.id && !target.closest(".dropdown-item")) continue; 
			x.classList.remove("show");
			x.setAttribute("aria-expanded", "false");
		};
	});
</script>
<style>
	html {
		background-color: var(--wxp-clr-dark-750);
		height: 100%;
	}
	body {
		margin: 0  auto;
		padding: min(50px, 2vw);
		display: flex;
		flex-direction: column;
		max-width: 1200px;
		min-height: 100%;
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
		font-size: 16px;
		font-family: var(--wxp-ff-body);
		color: var(--wxp-clr-text-400);
		overflow-x: hidden;
	}
</style>
